

section {
  flex-grow: 1;
  background-color: #eee;
  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        height: 2.3rem;
        a {
          display: block;
          height: 100%;
          img {
            height: 100%;
          }
        }
      }
    }
    .swiper-pagination {
      .swiper-pagination-bullet {
        background: rgba(0,0,0,.3);
        width: .07rem;
        height: .04rem;
        border-radius: .04rem;
      }
      .swiper-pagination-bullet-active {
        width: .08rem;
        height: .08rem;
        border: .01rem solid #fff;
        border-radius: 100%;
        background: #ff7e05;
        position: relative;
        top: .02rem;
      }
    }
  }
  .navs-box {
    display: flex;
    height: .8rem;
    align-items: center;
    justify-content: space-around;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $fontGray;
      i {
        font-size: .28rem;
        padding-bottom: .1rem;
        color: #000;
      }
    }
  }
  .letters {
    height: .3rem;
    background-color: #fff;
    .text {
      img {
        width: .55rem;
        height: .15rem;
      }
    }
  }
}





















