

.index-box {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  section {
    background-color: $contentBgGray;
    .swiper-banners {
      .swiper-wrapper {
        .swiper-slide {
          height: 2.3rem;
          a {
            display: block;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .swiper-pagination {
        .swiper-pagination-bullet {
          background: rgba(0,0,0,.3);
          width: .07rem;
          height: .04rem;
          border-radius: .04rem;
        }
        .swiper-pagination-bullet-active {
          width: .08rem;
          height: .08rem;
          border: .01rem solid #fff;
          border-radius: 100%;
          background: $baseColor;
          position: relative;
          top: .02rem;
        }
      }
    }
    .activity-box {
      display: flex;
      height: 1.09rem;
      align-items: center;
      justify-content: space-around;
      background-color: #fff;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $fontGray;
        img {
          width: .8rem;
          height: .8rem;
          border-radius: 50%;
          margin-bottom: .06rem;
        }
      }
    }
    .pintuan-box {
      background-color: #fff;
      padding-left: .1rem;
      padding-top: .4rem;
      padding-bottom: .1rem;
      .pintuan-box__title-box {
        display: flex;
        padding-left: .1rem;
        padding-right: .1rem;
        justify-content: space-between;
        .pintuan-box__title-box-all {
          color: $fontGray;
          display: flex;
          align-items: center;
        }
      }
      .pintuan-box__list {
        a {
          @include onepixel();
          display: flex;
          padding-top: .15rem;
          padding-bottom: .15rem;
          .goods-img {
            width: 1rem;
            height: 1rem;
            background-size: cover;
            margin-right: .1rem;
            position: relative;
            img {
              width: .57rem;
              height: .24rem;
              position: absolute;
              bottom: .05rem;
              left: .05rem;
            }
          }
          article {
            flex-grow: 1;
            margin-right: .1rem;
            h4 {
              line-height: .2rem;
              height: .37rem;
              margin-bottom: .1rem;
            }
            .price {
              font-size: .16rem;
              color: $baseColor;
            }
            .tuan-info {
              display: flex;
              justify-content: space-between;
              button {
                width: .9rem;
                height: .3rem;
                border-radius: .3rem;
                background-color: $baseColor;
                color: #fff;
              }
            }
          }
        }
        a:first-child:after {
          height: 0;
        }
      }
      .btn-all {
        display: block;
        width: 2.3rem;
        height: .3rem;
        background-color: $baseColor;
        color: #fff;
        line-height: .3rem;
        text-align: center;
        border-radius: .3rem;
        margin: 0 auto;
      }
    }
    .goods-box {
      background-color: #fff;
      margin-top: .1rem;
      position: relative;
      .goods-box__tab-box {
        width: 100%;
        display: flex;
        justify-content: space-around;
        height: .39rem;
        align-items: center;
        background-color: #fff;
        position: absolute;
        top: 0;
        z-index: 10;
        a {
          font-size: .14rem;
          span {
            padding-bottom: .06rem;
            border-bottom: .02rem solid #fff;
          }
        }
        .active {
          span {
            border-color: $baseColor;
            color: $baseColor;
          }
        }
      }
      .fixed {
        position: fixed;
      }
      .goods-box__list {
        display: flex;
        flex-wrap: wrap;
        padding-top: .39rem;
        a {
          width: 1.79rem;
          margin-bottom: .13rem;
          margin-left: .04rem;
          margin-right: .04rem;
          .goods-img-box {
            width: 100%;
            position: relative;
            height: 2.33rem;
            background: #f5f5f5 url(http://s21.mogucdn.com/pic/150423/13x90c_ie2gczrygm4wcytcgazdambqgiyde_250x250.png)
            no-repeat center center!important;
            background-size: cover;
            .goods-img {
              width: 100%;
              height: 2.33rem;
              display: block;
            }
            .tag {
              width: .35rem;
              height: .16rem;
              left: .05rem;
              bottom: 0;
              display: block;
              position: absolute;
            }
          }
          p {
            text-align: center;
            color: $fontGray;
          }
          .goods-desc {
            padding: .05rem .05rem 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .goods-price-collect {
            .price {
              color: $baseColor;
              margin-right: .05rem;
            }
          }
        }
      }
    }
  }
}























